
main{
    background-color: white;
    justify-content: center;
    align-items: center;
}
    .text-top{
        color: var(--color-text-light);
        font-size: 22pt;
        margin-bottom: 20px;
    }
    #subscribe {
        width: 140px;
    }
    .text-bottom{
        color: var(--color-text-light);
        font-size: 18pt;
        margin-top: 20px;
    }

.mini-menu-item-grp{
    display: none;
}

.mini-menu{
    height: 60px;
}

.mini-menu label{
    height: 20px;
}

.main-chat-header{
    display: flex;
    justify-content:space-between;
    width: calc(100% - 350px);
}

.row{
    width:100%;
    height: calc(100vh - 135px);
}

.esys-aba{
    position: relative;
    top: 10px;
    vertical-align: baseline;
    padding: 10px 10px 10px 10px;
    width:90px;
    cursor: pointer;
    border: 0px solid darkblue;
    font-size: 10pt;
    font-weight: 600;
}
.esys-aba.active{
    border-bottom: 4px solid darkblue;
}

/* SEARCH BOX */
.search-box{
    background:white;
    margin-left:32px;
    margin-right:11px;
    border-radius: 25px;
    padding: 0px 6px 1px 1px;
    display: flex;
    flex-direction: row;
    height: 35px;
    border: 1px solid var(--color-roxo);

}

.search-box input{
    font-size:9pt;
    width: 80%;
    color: var(--color-roxo)
}
.search-box i{
    color: var(--color-roxo) !important;
    padding: 5px 5px 5px 5px;
    position: relative;
    top:-2px;
    cursor: pointer;
}

.search-box-mini{
    border:0;
    position: relative;
    display: flex;
    top:3px;
    height: 30px;
    padding: 1px;
    border:1px solid white !important;
}
.search-box-mini input{
    border:0;
    margin-left: 10px;
    position: relative;
    top:3px;
    height: 30px;
    padding: 1px;
    border:1px solid white !important;
    font-size: 10pt;
}


.search-box input{
    border:0;
    position: relative;
    top:3px;
    height: 30px;
    padding: 1px;
    border:1px solid white !important;
}

#search-lado-direito{
    display: none;
    transition: visibility 0s, width .5s, opacity 0.5s linear ;
    width:0;

}



/* COMBO LIKE */
.combo-like-lista div, .combo-like-lista-menu-chat div{
    height: 30px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    vertical-align: middle;
}

.combo-like-lista p{
    height: 30px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    vertical-align: middle;
}

.combo-like-lista hr, .combo-like-lista-menu-chat hr, .combo-like-lista-dir hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.combo-like-lista-menu-chat h6{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.combo-like-lista div:hover, .combo-like-lista-menu-chat div:hover, .combo-like-lista-dir div:hover{
    background: #ccc;
}

.combo-like-grp{
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}
.combo-like{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.combo-like-bico{
    position: fixed;
    border:0px solid red;
    background-image: url('../imgs/bico.png');
    background-repeat: no-repeat;
    top:106px;
    width:30px;
    height: 0px;
    z-index: 2;
    display: none;
}

.combo-like-lista{
    position: fixed;
    background: white;    
    border: 1px solid #333;
    top:115px;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    font-size: 10pt;
    padding-bottom: 15px;
    display: none;
    transition: visibility 0s, height 14s, opacity 0.5s linear ;
    
}

.combo-like-bico-v{
    position: fixed;
    border:0px solid red;
    background-image: url('../imgs/bico.png');
    background-repeat: no-repeat;
    top:102px;
    width:30px;
    left:541px;
    height: 15px;
    z-index: 2;

}
.combo-like-lista-v{
    display: none;
    opacity: 0;
    position: fixed;
    flex-direction: column-reverse !important;
    border: 1px solid #333;
    top:111px;
    width:160px;
    left:461px;
    background: white;
    min-height: 130px;
    border-radius: 15px;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    font-size: 10pt;
    padding: 5px 5px 15px 10px;
    transition: visibility 0s, height 14s, opacity 0.5s linear ;
    
}
.combo-like-lista-v .dropdown-like-grp {
    position: relative;
    top: 5px;
    margin-bottom: 5px;
}
#combo-like-grp-lojas{
    display: flex;
    position: inherit;
    flex-direction: column;
    margin-top: 5px;
    top: 60px;
    left: 470px;
}
#combo-like-grp-segmentos{
    display: flex;
    position: inherit;
    flex-direction: column;
    margin-top: 5px;
    top: 100px;
    left: 470px;
}

#combo-like-grp-funil{
    display: flex;
    position: inherit;
    flex-direction: column;
    margin-top: 5px;
    top: 140px;
    left: 470px;
}



.combo-like-lista hr, .combo-like-lista-menu-chat hr, .combo-like-lista-dir hr{
    margin-top:10px;
}


/*DROPDOWNS*/


.dropdown-body{
    position: fixed;
    display: none;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    border:0px solid red;
    transition: visibility 0s, height 14s, opacity 0.3s linear !important;
}

.dropdown-bico{
    position: relative;
    border:0px solid red;
    background-image: url('../imgs/bico.png');
    background-repeat: no-repeat;
    top:0px;
    left: 4px;
    width:50px;
    height: 13px !important;
    z-index: 1;
}

.dropdown-conteudo{
    position: relative;
    border:1px solid blue;
    border-radius: 5px;
    padding: 5px;
    top:-1px;
    z-index: 0;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    font-size: 10pt !important;
    padding-bottom:12px;
    background: white;
}

.dropdown-conteudo h6{
    margin-top: 10px;
}
.dropdown-conteudo hr{
    margin-top: 3px;
    margin-bottom: 3px;
}

.dropdown-conteudo div{
    padding:5px 5px 5px 5px ;
    cursor: pointer;
}

.dropdown-conteudo input[type=checkbox]{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
}

.drop-btn{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 20px;
    font-size:10pt;
    text-align: center;
    padding:0px 20px 0px 20px;
    margin-right:20px;
}

.drop-btn label{
    position: relative;
    top:6px;
}

.drop-btn i{
    position: relative;
    top:6px;
    font-size:10pt;
    margin-left:5px;
    margin-right:15px;
}

.dropdown-conteudo div:hover{
    
    background: #ccc;
}

#drop_filtro_lista{
    left:225px;
}


.combo-like-lista-menu-chat{
    position: fixed;
    background: white;    
    border: 1px solid #333;
    top:233px;
    padding-bottom: 15px;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    font-size: 10pt;
    display: none;
    transition: visibility 0s, height 14s, opacity 0.5s linear ;

}

.combo-like-bico-dir{
    position: fixed;
    border:0px solid red;
    background-image: url('../imgs/bico.png');
    background-repeat: no-repeat;
    top:111px;
    width:250px;
    left: calc(100vw - 70px);
    height: 10px !important;
    z-index: 2;
    display: none;

}

.combo-like-lista-dir{
    position: fixed;
    color: darkblue;
    font-weight: 600;
    background: white;
    border: 1px solid #333;
    text-align: center;
    top:120px;
    width:260px;
    left: calc(100vw - 290px);
    padding-bottom: 15px;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    font-size: 10pt;
    display: none;
    transition: visibility 0s, height 14s, opacity 0.5s linear ;

}
.combo-like-lista-dir div{
    text-align: left;
    height: 40px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.combo-like-lista-dir i {
    margin-right: 20px;
    font-size: 18pt;
}


#btn-finance svg{
    margin-top:5px;
    height: 23px;
    width: 30px;
}

/* AREAS */
#msg-area-header{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom: 1px solid #eee;
}
.border-dark-blue{
    border:1px solid var(---color-roxo-claro-2);
    
}

#msg-area-opcoes{
    margin-top: -10px;
    display: flex;
    height: 60px;
    border-bottom: 1px solid #ccc;
    margin-left: 24px;
    margin-right: 10px;
    flex-direction: row !important;
}

.msg-area-opcoes-item{
    font-size: 9pt;
    color:#999;
    width: 115px;
    margin: 5px;
    text-align: center;
}

.msg-area-opcoes-item.active svg, .msg-area-opcoes-item.active a{
    color: black !important;
}

#msg-area-opcoes svg{
    width:27px;
    height:27px;
    color: #999;
    margin-bottom: 6px;
}

#msg-area-opcoes a{
    color: #888;
    text-decoration: none;
    text-decoration: none;
    margin-bottom: 6px;
}
#msg-area-opcoes svg:hover, #msg-area-opcoes a:hover {
    color: dodgerblue !important;
}
.opcoes-grp-chat{
    flex-direction: row !important;
    
}

#chat-area{
    position:fixed;
    width:calc(100vw - 339px);
    left:336px;
    z-index: 0;
}

#chat-area div{
    scrollbar-color: rebeccapurple green;

}

#chat-area-msgs{
    background-color: white;
    padding-left:25px;
    padding-right:25px;
    width: 100%;
    height: calc(100vh - 180px);
    overflow: auto;
    
}
#chat-area-msgs-send{
    background-color: var(--color-cinza);
    height: 60px;
    display: flex;
    padding-left:40px;
    padding-right:40px;
    z-index: 11;
}

#chat-area-msgs-send a{
    margin-top:15px;
    color: #999;
}

#chat-area-msgs-send .bi{
    margin: 10px;
    font-size: 18pt;;
}

#chat-area-msgs-send textarea{
    font-size:10pt;
    margin-top: 5px;
    border-radius: 50px;
    padding-left:20px;
    height: 50px;
    padding-bottom: 10px;
}

.popover-area{
    position:fixed;
    top:60px;
    border:1px solid #333;
    width:361px;
    height: calc(100vh - 60px);
    left:calc(100vw - 362px);
    background-color: white;
    box-shadow: 3px 7px 10px rgba(3, 3, 3, 0.3);
    display: none;
}
.popover-title {
    width:90%;
    color:white;
    text-align: center;
    padding: 0px 0px 0px 10px;
}
.popover-header{
    display: flex;
    background: var(--color-roxo);
}

.popover-header-tall{
    display: flex;
    flex-direction: column;
    background: var(--color-roxo);
}
.popover-header i, .popover-header-tall i{
    position: relative;
    color:white;
    top: -1px;
    padding: 5px 10px 10px 0px;

}
#user-anexos-docs a{
    display: flex;
    color: var(--color-roxo);
    padding: 5px;
    font-size: 10pt;
    background: var(--color-cinza);
    font-weight: 600;
}
.file-grupo{
    background: #fff;
    border: 2px solid #ddd;
    margin:5px;
    border-radius: 10px;
}
.file-part-name{
    padding-top:7px;
    width:290px;
    overflow:hidden;
    white-space: nowrap;
    margin-left:10px;
    
}
.file-stat-info{
    background: #fff;
    display: flex;
    padding: 3px 13px 3px 13px;
    font-size: 10pt;
    justify-content: space-between;
    color: #888;
    font-weight: 600;
}

.user-link-grupo{
    background: #fff;
    padding-top:7px;
    width:330px;
    overflow:hidden;
    white-space: nowrap;
    margin-left:10px;
    border-radius: 10px;
    border: 0px solid blue;
    padding: 5px 15px 5px 15px;
    margin: 10px;    
    box-shadow: 3px 1px 5px rgba(3, 3, 3, 0.3);
    font-weight: 100;
    font-size: 10pt;
}

a:hover{
    text-decoration: none;
}
.user-img-midias{
    height: 100px;
}
/*MENUS */
#menu-chat, #menu-chat-2{
    position: fixed;
    padding: 5px 0px 0px 3px;
    top:60px;
    width:100%;
    height: 50px;
    background: var(--color-cinza);
    display: flex;
    justify-content: space-between;
    border: 1px solid #aaa;
}
#menu-chat-2{
    top:110px;
    background: white;
    display: flex;
}
#menu-chat-2 div{
    padding: 5px 5px 5px 15px;
}
#menu-chat-1-1, #menu-chat-2-1{
    margin-top: 1px;
    margin-left: 4px;
    width:340px;
    height: 50px;
    border-right:1px solid #ccc;
    justify-content: space-between;

}

#menu-chat-1-1{
    border-right:0px solid #ccc;
    justify-content: space-between;

}
#menu-chat-2-2{
    margin-top: 1px;
    width:calc(100vw - 385px);
    height: 50px;
    border-right:1px solid #ccc;

}


#msg-area{
    width:350px;
    margin-left: 0px;
    border-right:1px solid #ccc;
    height: calc(100vh - 129px) !important;
    padding: 5px 0px 50px 15px;
    
}

.contato-profile-list{
    display: flex;
    flex-direction: row;
    border:0px solid red;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
.contato-profile-list u{
    color:red;
}
.contato-profile-text{
    color: blue;
    text-decoration: dashed;
}
.contato-profile-list.active{
    background: var(--color-roxo-claro-2);
}

.contato-profile-info{
    border:0px solid blue;
    padding-top: 10px;
    margin-left:20px;
    width:100%;
}
.contato-profile-foto img {
    position: relative;
    height: 65px;
    border-radius: 50%;
    top: 2px;
    margin-left: 0px;
}

.contato-profile-nome {
    font-size:12pt;
    font-weight: 600;
}

.contato-profile-fone {
    font-size:10pt;
    color: #888;
}

.contato-profile-status{
    font-size:10pt;
    color:var(--color-roxo);
}

#area-contatos{
    width:332px;
    margin-left: 18px;
    border-right:1px solid #ccc;
    height: calc(100vh - 250px) !important;
    background: #fff;
    overflow:auto;
    background: #ff9;

}


/*  CLIENT-PROFILE */

#menu-chat-1-2{
    border:0px solid red;
}
#botoes-genericos{
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content:right;
    margin-left: 0px;
    margin-right: 1px;
    min-width:250px;
    z-index:343020343;
    border:0px solid red;
}

#client-block{
    display: flex;
    border:0px solid blue;
    align-content: space-between;
}
#client-profile{
    display: flex;
    width:200px;
    border:0px solid red;
    cursor: pointer;

}
#client-profile div{
    margin-top: 5px;
    margin-left:10px;
    font-size: 8pt;
    color: #888;

}    

.client-profile-img{
    position: relative;
    height: 35px;
    border-radius: 50%;
    top: 2px;
    margin-left: 10px;

}
#client-profile b{
    color: black !important;
    font-size:10pt !important;

}    


/* BOTOES */

#btn_menu_dir{
    position: relative;
    top:-5px;
}
.btn-small{
    position: relative;
    top: -1px;
    padding: 0px 5px 0px 5px;
    color: #888;
}

.btn-add-contato{
    background-image: url('/src/assets/imgs/users/add-contato.png');
    border:1px solid red;
    width:30px
}
#msg_ico_send img{
    margin-top: 7px;
    margin-right: 20px;
    margin-left: 20px;
    width:25px !important;
    height: 25px !important;
}
.foguete-azul{
    background-image: url('/src/assets/imgs/foguete.png');
    background-repeat: no-repeat;
    background-size: 130px 130px;
    border:1px solid blue;
    width:150px !important;
    height:150px !important;
}

.clear-this{
    font-size:9pt;
    margin-right: 4px;
    position:relative;
    top: 8px;
    cursor: pointer;
}
#botoes-genericos .combo-like-grp{
    margin:10px;
}
#botoes-genericos-v{
    position: fixed;;
    left: 550px;
    border:0px solid red;
    min-width:30px;
    width:30px;
    height: 35px;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-between;
    margin-right: 10px;
    z-index:343020343;
    cursor: pointer;
    display: none;
}

#botoes-extras{
    width:350px;
    height: 35px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content:flex-end;
    text-align: right;
    border:0px solid red;
}

#btn_lista_v .bi{
    color: var(--color-roxo);
    position: relative;
    top:-5px;
}

.badge{
    text-align: center;
    background: rgb(247, 226, 226);
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 10pt;
}

/*POPOVERS*/
#pop-over-dados-usuario, #pop-over-transfer{
    display:none;
}

#pop-over-dados-usuario .popover-header{
    background-color: var(--color-roxo);
}
#pop-over-financeiro .popover-header{
    background: darkgreen;
}


.icone-telefone{
    margin-top: 8px;
    background: url(../imgs/iconetelefone.png);
    width: 40px;
}

.icone-foguete{
    margin-top: 0px;
    width: 30px;

}

.icone-foquete-2{
    margin-top: 0px;
    position: relative;
    left: -0px;
    width: 35px !important;
    height: 32px !important;

}

.form-control:focus, input[type=text]:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  } 

  .form-control, input[type=text] {
    box-shadow: 0 0 0 0;
    outline: 0;
  } 

  textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/*MENSAGENS*/

.mensagem-list{
    margin:10px;
}

.mensagem-text-entrada, .mensagem-text-saida{
    display: flex;
    padding: 10px 5px 5px 5px;
}

.mensagem-text-saida{
    justify-content: right;
}

.mensagem-text-entrada .msg-baloon, .mensagem-text-saida .msg-baloon {
    border:1px solid #ccc;
    font-size: 12pt;
    padding: 10px 15px 1px 15px;
    box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.3);
    display: flex;
}

.mensagem-text-saida .msg-baloon {
    background: var(--color-roxo-claro-2) !important;
    border-radius: 0px 10px 10px 10px ;
}

.mensagem-text-entrada .msg-baloon {
    background: var(--color-fundo);
    border-radius: 10px 0px 10px 10px ;
}
.mensagem-entrega{
    font-size: 8pt;
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    margin-left: 8px;
    color: #aaa;
}
.mensagem-entrega i{
    position: relative;
    top:-4px;
    font-size: 12pt;
    margin-left: 5px;
}

.mensagem-entrega .font-blue{
    color: dodgerblue;
}

.hidden{
    display: none;
}

.classe-mensagens hr{
    margin-top: 60px;
}

.classe-mensagens u{
    color: red;
}

.classe-mensagens h1{
    display: flex;
    justify-content: center;
    position: relative;
}

.classe-mensagens h1 span{
    background:white;
    position: relative;
    top:-35px;
    padding-left:20px;
    padding-right:20px;
}
.classe-mensagens h1 i{
    font-size: 10pt;
    color:white;
    position: relative;
    top:-15px;
    left: -10px;
    padding:5px 15px 5px 15px;
    margin-left:20px;
    border-radius: 15px;
    background: var(--color-roxo);
}

.origem-instagram, .origem-facebook, .origem-whatsapp{
    position: relative;
    top:-20px;
    left: 40px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height:40px;
    width: 40px;
    margin-bottom: -100px;
    }
.origem-instagram{
    background-image: url('../imgs/origem-insta.png');
    background-size: 40px 40px;
}
.origem-facebook{
    background-image: url('../imgs/origem-face.png');
}
.origem-whatsapp{
    background-image: url('../imgs/origem-whats.png');
}

.chat-img{
    max-width:250px;
    max-height: 150px;
    overflow: hidden;
}

.img-midia{
    max-height:200px;

}
.msg-baloon-detalhe{
    display: flex;
    flex-direction: column;
}
.msg-baloon-detalhe .col-md-12{
    margin-bottom: 20px;
    display: flex;
    border: 0px solid red;
}
.msg-baloon-detalhe .col-md-12 .col-md-6{
    text-align: center;
}

.user-segmentos{
    background:var(--color-roxo);
    color:white;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 10pt;

}